.educationContainer {
	background-color: #152e4e;
	display: flex;
	flex-direction: column;
	font-family: 'Avenir Next';
	color: #fff;
}

.titleLine {
	font-family: 'BenchNine', sans-serif;
	text-transform: uppercase;
	text-align: left;
	color: #27aee8;
	font-size: 1.3em;
}

.educationTitle {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1.2rem;
	text-transform: uppercase;
	/* text-align: end; */
	color: #ffffff;
	z-index: 1;
	line-height: 1em;
	font-weight: 700;
	font-style: italic;
}

.lineTwo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	border-bottom: 1px solid #2a3c57;
}

.degree {
	font-weight: 500;
	color: #6b7f9c;
	font-size: 0.85em;
	padding-top: 0.5em;
	font-size: 0.75em;
	max-width: 55%;
}

.experienceSubline {
	font-family: 'Avenir Next';
	font-weight: 700;
	opacity: 0.8;
	font-size: 1em;
	font-size: 0.85em;
}

.subtitleContainer {
	padding: 1rem 0.5rem 1rem 0.5rem;
}

.subtextContainer {
	padding: 0rem 0rem 1rem 0rem;
}
