* {
	box-sizing: border-box;
}

html {
	scroll-snap-type: y mandatory;
}

html,
body {
	height: 100vh;
	width: 100%;
}

@media (min-width: 38em) {
	html {
		font-size: 20px;
	}
}

.app {
	/* flex container for the entire app */
	/* width: 100vh; */
	/* width: 100%; */
	/* min-width: 80%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
