.container {
	box-sizing: border-box;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
	/* fonts */
	/* font-family: 'Inter', sans-serif; */
	font-family: 'Roboto', sans-serif;
	/* font-family: 'Sen', sans-serif; */
}
