/* @media (min-width: 38em) {
	html {
		font-size: 20px;
	}
} */

* {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	width: 100%;
	font-size: calc(16px + 0.5vw);
}

.app {
	scroll-snap-type: y mandatory;
	scroll-snap-points-y: repeat(100vh);
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100vh;
}

.appFlex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
