.sectionContainer {
	height: 100vh;
	/* width: 100vh; */
	width: 100%;
	max-width: 50rem;
	scroll-snap-align: start;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #152e4e;
	padding: 3rem 1.5rem 3rem 1.5rem;
	color: #fff;
	overflow: scroll;
}

.tabPanels {
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	/* overflow: scroll; */
}

.tabPanel {
	/* width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 5px; */
	display: flex;
	flex-direction: column;
	overflow: scroll;
}

@media only screen and (max-width: 450px) {
	.root {
		flex-direction: column;
		padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	}
}

.root {
	flex-grow: 1;
	display: flex;
	align-self: flex-start;
	/* padding: 1.5rem 1.5rem 3rem 1.5rem; */
	width: 100%;
}
