.sectionContainer {
	height: 100vh;
	width: 100%;
	max-width: 50rem;
	scroll-snap-align: start;
	/* position: relative; */
	/* display: flex; */
	/* flex-direction: column; */

	background-color: #152e4e;
	/* padding: 3rem 1.5rem 3rem 1.5rem; */

	font-family: 'Avenir Next';
	color: #fff;
	/* overflow: hidden; */
	/* position: relative; */
}

@media only screen and (max-width: 450px) {
	.nameContainer {
		position: absolute;
		/* top: 140px;
		left: 55px; */
		top: 25%;
		left: 15%;
	}
	.bannerContainer {
		/* properties for snap scrolling */
		/* height: 100vh; */
		width: 100%;
		height: 100%;
		max-width: 50rem;
		/* properties for flex */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		position: relative;
	}
	.name {
		color: #fff;
		font-family: 'Monoton', cursive;
		font-size: 3.5rem;
		letter-spacing: 3px;
	}
	.breadcrumbLinks {
		position: absolute;
		top: 85%;
		left: 5%;
		/* top: 550px;
		left: 25px; */
		display: flex;
		flex-direction: row;
		width: 90%;
	}
	.bannerImg {
		/* position: relative; */
		/* top: -140px; */
		/* width: 100%; */
		height: 100%;
	}

	.imgContainer {
		height: 100%;
		/* overflow: hidden; */
	}
}

@media (min-width: 451px) {
	.nameContainer {
		position: absolute;
		/* top: 80px;
		left: 275px; */
		top: 10%;
		left: 20%;
	}

	.bannerContainer {
		/* properties for snap scrolling */
		/* height: 100vh; */
		width: 100%;
		height: 100%;
		max-width: 50rem;
		/* properties for flex */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		/* overflow: hidden; */
		position: relative;
	}
	.name {
		color: #fff;
		font-family: 'Monoton', cursive;
		font-size: 4.5rem;
		letter-spacing: 3px;
	}
	.breadcrumbLinks {
		position: absolute;
		top: 85%;
		left: 15%;
		/* top: 550px;
		left: 175px; */
		display: flex;
		flex-direction: row;
		width: 90%;
	}

	.bannerImg {
		/* align-self: center; */
		/* position: relative; */
		/* top: -40%; */
		/* width: 100%; */
		height: 100%;
	}

	.imgContainer {
		/* display: flex; */
		height: 100%;
		/* overflow: hidden; */
	}
}

/* parent element needs to have position: relative and child element needs to have position: absolute relative to that closest parent element  */
