.sectionContainer {
	height: 100vh;
	/* width: 100%; */
	/* max-width: 50rem; */
	scroll-snap-align: start;
	/* position: relative; */
	/* display: flex;
	flex-direction: column; */

	background-color: #152e4e;
	/* padding: 3rem 1.5rem 3rem 1.5rem; */

	font-family: 'Avenir Next';
	color: #fff;
	overflow: hidden;
}

.bannerContainer {
	/* properties for snap scrolling */
	/* height: 100vh; */
	width: 100%;
	/* max-width: 50rem; */
	/* scroll-snap-align: start; */

	/* properties for flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.bannerImg {
	position: relative;
	top: -100px;
}

.nameContainer {
	/* color: white;
	font: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	padding: 10px;
	z-index: 1; */
}

h2 {
	position: absolute;
	top: 200px;
	left: 600px;
	/* width: 100%; */
	color: white;
	font: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	padding: 10px;
	/* z-index: 1; */
}

/* parent element needs to have position: relative and child element needs to have position: absolute relative to that closest parent element  */
