.bannerContainer {
	/* properties for snap scrolling */
	height: 100vh;
	width: 100%;

	scroll-snap-align: start;
	/* properties for flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.h3 {
	/* text-align: center; */
	/* position: absolute; */
	/* color: #a04040; */
	/* left: 10%; */
	/* top: 0%; */
	/* transform: translate(-50%, -50%); */
}

.bannerImg {
	display: flex;
	flex-direction: column;
	background-size: cover;
}
