.aboutContainer {
	height: 100vh;
	width: 100%;
	max-width: 50rem;
	scroll-snap-align: start;
	position: relative;
	display: flex;
	flex-direction: column;

	/* align-items: center;
	justify-content: center;
	overflow: hidden; */

	background-color: #152e4e;
	padding: 3rem 1.5rem 3rem 1.5rem;

	font-family: 'Avenir Next';
	color: #fff;
}

.h3 {
	/* text-align: center; */
	position: absolute;
	color: #a04040;
	left: 10%;
	top: 0%;
	/* transform: translate(-50%, -50%); */
}

.aboutText {
	font-size: 3rem;
	color: green;
}

.textContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	max-width: 65vh;
}
